*{
    list-style: none;
    text-decoration: none;
margin: 0;
padding: 0;
}
nav{
    background-color:cornflowerblue;
    height: 70px;
}
.logo{
    font-size: 40px;
    margin-left: 30px;
}
.logo  a{
    color: black;
}
    nav ul{
    
        float: right;
        margin-top: 20px;
    }
    
    
    nav ul li{
        display:inline-block;
        font-size: 20px;
        margin-right: 30px;
    }
    nav ul li a{
        padding: 8px;
        color: black;
    }
    nav ul li a:hover{
        border-radius: 5px;
        background-color: aqua;
        color: blue;
    }